
<% alias Cardiofields.Canons %>
<% fields_count = Canons.count_definitions()  %>
<span></span>
    <%= if fields_count > 0 do %>
          <span class="button is-rounded is-primary">
            <span> Total  Number of  Fields : </span>
             <strong><%= fields_count %></strong>
        </span>
    <% else %>
        <span class="button is-small is-danger">
            <%= fields_count %>
           </span>
    <% end %>
