
<% alias Cardiofields.Canons %>
<% definitions_count = Canons.count_definitions()  %>
<span></span>
    <%= if definitions_count > 0 do %>
          <span class="button is-rounded is-primary">
            <span> Total  Number of  fields: </span>
             <strong><%= definitions_count %></strong>
        </span>
    <% else %>
        <span class="button is-small is-danger">
            <%= definitions_count %>
           </span>
    <% end %>
