
<% alias Cardiofields.Canons %>
<% definitions_count = Canons.count_definitions()  %>
<span></span>
    <%= if definitions_count > 0 do %>
        <span class="tag is-small is-success">
             <strong><%= definitions_count %></strong>
        </span>
    <% else %>
        <span class="tag is-small is-danger">
            <%= definitions_count %>
           </span>
    <% end %>
